<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Merck Events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CEFBF91E5EF4E20017A0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CEFC101E5EF4E30017A0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CEFC1B1E5EF4E30017A0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
